body {margin:10px;
    background-color: bisque;
}
.nav{display:flex;
    justify-content: space-around;
    background-color: green;
    padding: 10px;
}
.first{display:flex;
    justify-content: space-between;
    margin: 10px 0;
}
.second{background-color: white;
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
    flex: 1;
}
h1{
    color: darkgreen;
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

